.button {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--secondary-yellow);
  border-radius: 4px;
  color: var(--yellow);
  padding: 20px;
}

.button:hover {
  background-color: var(--yellow-filter);
  border: 1px solid var(--yellow);
}
